@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-font-smoothing: anitialised;
	-moz-font-smoothing: anitialised;
	-o-font-smoothing: anitialised;
	font-smoothing: anitialised;
	text-rendering: optimizeLegibility;



}