@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-font-smoothing: anitialised;
	-moz-font-smoothing: anitialised;
	-o-font-smoothing: anitialised;
	font-smoothing: anitialised;
	text-rendering: optimizeLegibility;



}

p {
    
    text-align: center;
}

img {
	float:left;
	width: 340px;
	height: 350px;
	margin-top: 40px;
	margin-left:180px;
	border-radius: 5px;
}
.welcome-h4 {
	padding-top: 20px;
	padding-bottom: 20px;
}


.update2 {
	border:0;
	outline:none;
	border-radius: 5px;
	padding:14px 14px;
	font-size:16px;
	font-weight: bold;
	letter-spacing: .1em;
	background:#006e99;
	color:white;
	transition:all.5s ease;
	-webkit-appearance:none;
	float:left;
	margin-top: 10px;
	

}
.update2:hover {
	background-color:#1ab188;
}


.delete{
	border:0;
	outline:none;
	border-radius: 5px;
	padding:14px 14px;
	font-size:16px;
	font-weight: bold;
	letter-spacing: .1em;
	background:#990000;
	color:white;
	transition:all.5s ease;
	-webkit-appearance:none;
	float:left;
	margin-top: 10px;

}

.delete:hover {
	background-color:#1ab188;
}

.entries {
    color: white;
    background-color:#1ab188;
	margin-bottom: 5px;
	margin-top: 40px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
    margin-top: 20px;
    text-align:center;
    width: 600px;
    margin-left: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.entries {
    color: white;
    background-color:#1ab188;
	margin-bottom: 5px;
	margin-top: 40px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
    margin-top: 20px;
    text-align:center;
    width: 600px;
    margin-left: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
}





























































































